<a href="https://colab.research.google.com/github/mehreengillani/Data602/blob/main/07_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 7**
Mehreen Ali Gillani

link: https://colab.research.google.com/drive/1_mJmDGGiG_peh-v3zU4e3BPllByukQP3?usp=sharing
# **Weeks 8 & 9 - Pandas**
* In this homework assignment, you will explore and analyze a public dataset of your choosing. Since this assignment is “open-ended” in nature, you are free to expand upon the requirements below. However, you must meet the minimum requirments as indicated in each section.

* You must use Pandas as the **primary tool** to process your data.

* The preferred method for this analysis is in a .ipynb file. Feel free to use whichever platform of your choosing.  
 * https://www.youtube.com/watch?v=inN8seMm7UI (Getting started with Colab).

* Your data should need some "work", or be considered "dirty".  You must show your skills in data cleaning/wrangling.

### **Some data examples:**
•	https://www.data.gov/

•	https://opendata.cityofnewyork.us/

•	https://datasetsearch.research.google.com/

•	https://archive.ics.uci.edu/ml/index.php

### **Resources:**

•	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

•	https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html


### **Headings or comments**
**You are required to make use of comments, or headings for each section.  You must explain what your code is doing, and the results of running your code.**  Act as if you were giving this assignment to your manager - you must include clear and descriptive information for each section.

### **You may work as a group or indivdually on this assignment.**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

Dataset Information
Additional Information
This data approach student achievement in secondary education of two Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. Two datasets are provided regarding the performance in two distinct subjects: Mathematics (mat) and Portuguese language (por). In [Cortez and Silva, 2008], the two datasets were modeled under binary/five-level classification and regression tasks. Important note: the target attribute G3 has a strong correlation with attributes G2 and G1. This occurs because G3 is the final year grade (issued at the 3rd period), while G1 and G2 correspond to the 1st and 2nd period grades. It is more difficult to predict G3 without G2 and G1, but such prediction is much more useful (see paper source for more details)

https://archive.ics.uci.edu/dataset/320/student+performance Student Performance Dataset

As a concerned parent, I've always wondered: what factors actually help children do well in school? Are expensive tutors worth it? Does family support really make a difference? Do after-school activities help or hurt grades?

This curiosity led me to analyze a comprehensive student performance dataset that tracks 649 students across various demographics, study habits, family backgrounds, and lifestyle factors. I want to cut through the assumptions and find evidence-based answers about what truly impacts academic success.

______________
# Data Exploration
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include:

* Summary statistics means, medians, quartiles,
* Missing value information
* Any other relevant information about the dataset.

In [ ]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2025.10.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [ ]:
from ucimlrepo import fetch_ucirepo
import pandas as pd
import numpy as np
# fetch dataset
student_performance = fetch_ucirepo(id=320)

# data (as pandas dataframes)
X = student_performance.data.features
y = student_performance.data.targets

# metadata
print(student_performance.metadata)

# variable information
print(student_performance.variables)

{'uci_id': 320, 'name': 'Student Performance', 'repository_url': 'https://archive.ics.uci.edu/dataset/320/student+performance', 'data_url': 'https://archive.ics.uci.edu/static/public/320/data.csv', 'abstract': 'Predict student performance in secondary education (high school). ', 'area': 'Social Science', 'tasks': ['Classification', 'Regression'], 'characteristics': ['Multivariate'], 'num_instances': 649, 'num_features': 30, 'feature_types': ['Integer'], 'demographics': ['Sex', 'Age', 'Other', 'Education Level', 'Occupation'], 'target_col': ['G1', 'G2', 'G3'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2008, 'last_updated': 'Fri Jan 05 2024', 'dataset_doi': '10.24432/C5TG7T', 'creators': ['Paulo Cortez'], 'intro_paper': {'ID': 360, 'type': 'NATIVE', 'title': 'Using data mining to predict secondary school student performance', 'authors': 'P. Cortez, A. M. G. Silva', 'venue': 'Proceedings of 5th Annual Future Business Technology Conference', 'year': 2008, 'journal': None, 'DOI': None, 'URL': 'https://www.semanticscholar.org/paper/61d468d5254730bbecf822c6b60d7d6595d9889c', 'sha': None, 'corpus': '16621299', 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'This data approach student achievement in secondary education of two Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. Two datasets are provided regarding the performance in two distinct subjects: Mathematics (mat) and Portuguese language (por). In [Cortez and Silva, 2008], the two datasets were modeled under binary/five-level classification and regression tasks. Important note: the target attribute G3 has a strong correlation with attributes G2 and G1. This occurs because G3 is the final year grade (issued at the 3rd period), while G1 and G2 correspond to the 1st and 2nd period grades. It is more difficult to predict G3 without G2 and G1, but such prediction is much more useful (see paper source for more details).', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "# Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:\r\n1 school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)\r\n2 sex - student's sex (binary: 'F' - female or 'M' - male)\r\n3 age - student's age (numeric: from 15 to 22)\r\n4 address - student's home address type (binary: 'U' - urban or 'R' - rural)\r\n5 famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)\r\n6 Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)\r\n7 Medu - mother's education (numeric: 0 - none,  1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)\r\n8 Fedu - father's education (numeric: 0 - none,  1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)\r\n9 Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')\r\n10 Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')\r\n11 reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')\r\n12 guardian - student's guardian (nominal: 'mother', 'father' or 'other')\r\n13 traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)\r\n14 studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)\r\n15 failures - number of past class failures (numeric: n if 1<=n<3, else 4)\r\n16 schoolsup - extra educational support (binary: yes or no)\r\n17 famsup - family educational support (binary: yes or no)\r\n18 paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)\r\n19 activities - extra-curricular activities (binary: yes or no)\r\n20 nursery - attended nursery school (binary: yes or no)\r\n21 higher - wants to take higher education (binary: yes or no)\r\n22 internet - Internet access at home (binary: yes or no)\r\n23 romantic - with a romantic relationship (binary: yes or no)\r\n24 famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)\r\n25 freetime - free time after school (numeric: from 1 - very low to 5 - very high)\r\n26 goout - going out with friends (numeric: from 1 - very low to 5 - very high)\r\n27 Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)\r\n28 Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)\r\n29 health - current health status (numeric: from 1 - very bad to 5 - very good)\r\n30 absences - number of school absences (numeric: from 0 to 93)\r\n\r\n# these grades are related with the course subject, Math or Portuguese:\r\n31 G1 - first period grade (numeric: from 0 to 20)\r\n31 G2 - second period grade (numeric: from 0 to 20)\r\n32 G3 - final grade (numeric: from 0 to 20, output target)", 'citation': None}}
          name     role         type      demographic  \
0       school  Feature  Categorical             None
1          sex  Feature       Binary              Sex
2          age  Feature      Integer              Age
3      address  Feature  Categorical             None
4      famsize  Feature  Categorical            Other
5      Pstatus  Feature  Categorical            Other
6         Medu  Feature      Integer  Education Level
7         Fedu  Feature      Integer  Education Level
8         Mjob  Feature  Categorical       Occupation
9         Fjob  Feature  Categorical       Occupation
10      reason  Feature  Categorical             None
11    guardian  Feature  Categorical             None
12  traveltime  Feature      Integer             None
13   studytime  Feature      Integer             None
14    failures  Feature      Integer             None
15   schoolsup  Feature       Binary             None
16      famsup  Feature       Binary             None
17        paid  Feature       Binary             None
18  activities  Feature       Binary             None
19     nursery  Feature       Binary             None
20      higher  Feature       Binary             None
21    internet  Feature       Binary             None
22    romantic  Feature       Binary             None
23      famrel  Feature      Integer             None
24    freetime  Feature      Integer             None
25       goout  Feature      Integer             None
26        Dalc  Feature      Integer             None
27        Walc  Feature      Integer             None
28      health  Feature      Integer             None
29    absences  Feature      Integer             None
30          G1   Target  Categorical             None
31          G2   Target  Categorical             None
32          G3   Target      Integer             None

                                          description units missing_values
0   student's school (binary: 'GP' - Gabriel Perei...  None             no
1   student's sex (binary: 'F' - female or 'M' - m...  None             no
2              student's age (numeric: from 15 to 22)  None             no
3   student's home address type (binary: 'U' - urb...  None             no
4   family size (binary: 'LE3' - less or equal to ...  None             no
5   parent's cohabitation status (binary: 'T' - li...  None             no
6   mother's education (numeric: 0 - none,  1 - pr...  None             no
7   father's education (numeric: 0 - none,  1 - pr...  None             no
8   mother's job (nominal: 'teacher', 'health' car...  None             no
9   father's job (nominal: 'teacher', 'health' car...  None             no
10  reason to choose this school (nominal: close t...  None             no
11  student's guardian (nominal: 'mother', 'father...  None             no
12  home to school travel time (numeric: 1 - <15 m...  None             no
13  weekly study time (numeric: 1 - <2 hours, 2 - ...  None             no
14  number of past class failures (numeric: n if 1...  None             no
15      extra educational support (binary: yes or no)  None             no
16     family educational support (binary: yes or no)  None             no
17  extra paid classes within the course subject (...  None             no
18    extra-curricular activities (binary: yes or no)  None             no
19        attended nursery school (binary: yes or no)  None             no
20  wants to take higher education (binary: yes or...  None             no
21        Internet access at home (binary: yes or no)  None             no
22   with a romantic relationship (binary: yes or no)  None             no
23  quality of family relationships (numeric: from...  None             no
24  free time after school (numeric: from 1 - very...  None             no
25  going out with friends (numeric: from 1 - very...  None             no
26  workday alcohol consumption (numeric: from 1 -...  None             no
27  weekend alcohol consumption (numeric: from 1 -...  None             no
28  current health status (numeric: from 1 - very ...  None             no
29  number of school absences (numeric: from 0 to 93)  None             no
30         first period grade (numeric: from 0 to 20)  None             no
31        second period grade (numeric: from 0 to 20)  None             no
32  final grade (numeric: from 0 to 20, output tar...  None             no

In [ ]:
# Combine X -features and Y-target, grades in course subject
student_performance_df = pd.concat([X, y], axis=1)

print("Combined DataFrame shape:", student_performance_df.shape)
print("Columns:", student_performance_df.columns.tolist())
print("\nFirst few rows:")
print(student_performance_df.head())

Combined DataFrame shape: (649, 33)
Columns: ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']

First few rows:
  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        4   0  11  11
1      5        3      3     1     1      3        2   9  11  11
2      4        3      2     2     3      3        6  12  13  12
3      3        2      2     1     1      5        0  14  14  14
4      4        3      2     1     2      5        0  11  13  13

[5 rows x 33 columns]

In [ ]:
student_performance_df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [ ]:
student_performance_df.describe()

,school_name,sex,age,address,family_size,parent_status,mother_education,father_education,travel_time,study_time,...,family_relationships,free_time,workday_alcohol,weekend_alcohol,health,absences,grade_period_1,grade_period_2,final_grade,average_grade
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,...,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000
mean,0.252212,0.378319,16.612832,0.258850,0.298673,0.123894,2.688053,2.469027,1.508850,2.037611,...,3.957965,3.097345,1.411504,2.170354,3.495575,3.212389,12.592920,12.873894,13.424779,12.963864
std,0.434764,0.485505,1.164179,0.438488,0.458183,0.329825,1.133070,1.100863,0.718715,0.834883,...,0.896162,1.011811,0.836342,1.229608,1.445991,4.206850,2.240079,2.147453,2.052764,2.039140
min,0.000000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,9.000000,11.000000,7.333333
25%,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,2.000000,2.000000,1.000000,1.000000,...,4.000000,2.000000,1.000000,1.000000,2.000000,0.000000,11.000000,11.000000,12.000000,11.333333
50%,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000,3.000000,2.000000,1.000000,2.000000,...,4.000000,3.000000,1.000000,2.000000,4.000000,2.000000,12.000000,13.000000,13.000000,12.666667
75%,1.000000,1.000000,17.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,2.000000,...,5.000000,4.000000,2.000000,3.000000,5.000000,4.000000,14.000000,14.000000,15.000000,14.333333
max,1.000000,1.000000,21.000000,1.000000,1.000000,1.000000,4.000000,4.000000,4.000000,4.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000,18.666667

In [ ]:
student_performance_df.describe(include=object)

       mother_job father_job guardian final_grade_category
count         452        452      452                  452
unique          5          5        3                    2
top         OTHER      OTHER   MOTHER                 Good
freq          176        261      310                  321

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables.

8. Filter your data based on some condition.

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group.
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups.

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

In [ ]:
# 1 Modify multiple column names - Rename
student_performance_df = student_performance_df.rename(columns={
    'school': 'school_name',
    'famsize': 'family_size',
    'Mjob': 'mother_job',
    'Fjob': 'father_job',
    'Medu': 'mother_education',
    'Fedu': 'father_education',
    'Pstatus': 'parent_status',
    'traveltime': 'travel_time',
    'studytime': 'study_time',
    'schoolsup': 'school_support',
    'famsup': 'family_support',
    'famrel': 'family_relationships',
    'freetime': 'free_time',
    'goout': 'go_out',
    'reason': 'reason_to_choose_school',
    'Dalc': 'workday_alcohol',
    'Walc': 'weekend_alcohol',
    'G1': 'grade_period_1',
    'G2': 'grade_period_2',
    'G3': 'final_grade'
})

print(student_performance_df.columns)

Index(['school_name', 'sex', 'age', 'address', 'family_size', 'parent_status',
       'mother_education', 'father_education', 'mother_job', 'father_job',
       'reason_to_choose_school', 'guardian', 'travel_time', 'study_time',
       'failures', 'school_support', 'family_support', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'family_relationships',
       'free_time', 'go_out', 'workday_alcohol', 'weekend_alcohol', 'health',
       'absences', 'grade_period_1', 'grade_period_2', 'final_grade'],
      dtype='object')

In [ ]:
#2 Check data types of all columns
print("Data Types:")
print(student_performance_df.dtypes)

Data Types:
school_name                object
sex                        object
age                         int64
address                    object
family_size                object
parent_status              object
mother_education            int64
father_education            int64
mother_job                 object
father_job                 object
reason_to_choose_school    object
guardian                   object
travel_time                 int64
study_time                  int64
failures                    int64
school_support             object
family_support             object
paid                       object
activities                 object
nursery                    object
higher                     object
internet                   object
romantic                   object
family_relationships        int64
free_time                   int64
go_out                      int64
workday_alcohol             int64
weekend_alcohol             int64
health                      int64
absences                    int64
grade_period_1              int64
grade_period_2              int64
final_grade                 int64
dtype: object

In [ ]:
#Based on your data types, I can see several categorical variables that are stored as objects but should be properly encoded.
# First, let's examine the unique values in each object column
object_columns = student_performance_df.select_dtypes(include=['object']).columns

print("Unique values in object columns:")
for col in object_columns:
    print(f"\n{col}: {student_performance_df[col].unique()}")
    print(f"Value counts:")
    print(student_performance_df[col].value_counts())
    print("-" * 40)

Unique values in object columns:

school_name: ['GP' 'MS']
Value counts:
school_name
GP    423
MS    226
Name: count, dtype: int64
----------------------------------------

sex: ['F' 'M']
Value counts:
sex
F    383
M    266
Name: count, dtype: int64
----------------------------------------

address: ['U' 'R']
Value counts:
address
U    452
R    197
Name: count, dtype: int64
----------------------------------------

family_size: ['GT3' 'LE3']
Value counts:
family_size
GT3    457
LE3    192
Name: count, dtype: int64
----------------------------------------

parent_status: ['A' 'T']
Value counts:
parent_status
T    569
A     80
Name: count, dtype: int64
----------------------------------------

mother_job: ['at_home' 'health' 'other' 'services' 'teacher']
Value counts:
mother_job
other       258
services    136
at_home     135
teacher      72
health       48
Name: count, dtype: int64
----------------------------------------

father_job: ['teacher' 'other' 'services' 'health' 'at_home']
Value counts:
father_job
other       367
services    181
at_home      42
teacher      36
health       23
Name: count, dtype: int64
----------------------------------------

reason_to_choose_school: ['course' 'other' 'home' 'reputation']
Value counts:
reason_to_choose_school
course        285
home          149
reputation    143
other          72
Name: count, dtype: int64
----------------------------------------

guardian: ['mother' 'father' 'other']
Value counts:
guardian
mother    455
father    153
other      41
Name: count, dtype: int64
----------------------------------------

school_support: ['yes' 'no']
Value counts:
school_support
no     581
yes     68
Name: count, dtype: int64
----------------------------------------

family_support: ['no' 'yes']
Value counts:
family_support
yes    398
no     251
Name: count, dtype: int64
----------------------------------------

paid: ['no' 'yes']
Value counts:
paid
no     610
yes     39
Name: count, dtype: int64
----------------------------------------

activities: ['no' 'yes']
Value counts:
activities
no     334
yes    315
Name: count, dtype: int64
----------------------------------------

nursery: ['yes' 'no']
Value counts:
nursery
yes    521
no     128
Name: count, dtype: int64
----------------------------------------

higher: ['yes' 'no']
Value counts:
higher
yes    580
no      69
Name: count, dtype: int64
----------------------------------------

internet: ['no' 'yes']
Value counts:
internet
yes    498
no     151
Name: count, dtype: int64
----------------------------------------

romantic: ['no' 'yes']
Value counts:
romantic
no     410
yes    239
Name: count, dtype: int64
----------------------------------------

In [ ]:
# Convert binary variables (yes/no) to 1/0
binary_columns = ['school_support', 'family_support', 'paid', 'activities',
                  'nursery', 'higher', 'internet', 'romantic']

print("Converting binary variables (yes/no → 1/0):")
for col in binary_columns:
    print(f"{col}: {student_performance_df[col].unique()} → ", end="")
    student_performance_df[col] = student_performance_df[col].map({'yes': 1, 'no': 0})
    print(f"{student_performance_df[col].unique()}")

# Convert binary categorical variables with custom mappings
binary_custom_mappings = {
    'school_name': {'GP': 0, 'MS': 1},        # Gabriel Pereira = 0, Mousinho da Silveira = 1
    'sex': {'F': 0, 'M': 1},                  # Female = 0, Male = 1
    'address': {'U': 0, 'R': 1},              # Urban = 0, Rural = 1
    'family_size': {'GT3': 0, 'LE3': 1},      # Greater than 3 = 0, Less or equal to 3 = 1
    'parent_status': {'T': 0, 'A': 1}         # Living together = 0, Apart = 1
}

print("\nConverting binary categorical variables:")
for col, mapping in binary_custom_mappings.items():
    print(f"{col}: {student_performance_df[col].unique()} → ", end="")
    student_performance_df[col] = student_performance_df[col].map(mapping)
    print(f"{student_performance_df[col].unique()}")

Converting binary variables (yes/no → 1/0):
school_support: ['yes' 'no'] → [1 0]
family_support: ['no' 'yes'] → [0 1]
paid: ['no' 'yes'] → [0 1]
activities: ['no' 'yes'] → [0 1]
nursery: ['yes' 'no'] → [1 0]
higher: ['yes' 'no'] → [1 0]
internet: ['no' 'yes'] → [0 1]
romantic: ['no' 'yes'] → [0 1]

Converting binary categorical variables:
school_name: ['GP' 'MS'] → [0 1]
sex: ['F' 'M'] → [0 1]
address: ['U' 'R'] → [0 1]
family_size: ['GT3' 'LE3'] → [0 1]
parent_status: ['A' 'T'] → [1 0]

Binary (0/1):

school_support, family_support, paid, activities, nursery, higher, internet, romantic: yes=1, no=0
school_name: GP=0, MS=1
sex: F=0, M=1
address: U=0, R=1
family_size: GT3=0, LE3=1
parent_status: T=0, A=1

In [ ]:
# Reset index and make it a column as there is no index
student_performance_df = student_performance_df.reset_index()
student_performance_df = student_performance_df.rename(columns={'index': 'student_id'})

print("DataFrame with reset index:")
student_performance_df.head(2)

DataFrame with reset index:

,student_id,school_name,sex,age,address,family_size,parent_status,mother_education,father_education,mother_job,...,family_relationships,free_time,go_out,workday_alcohol,weekend_alcohol,health,absences,grade_period_1,grade_period_2,final_grade
0,0,0,0,18,0,0,1,4,4,at_home,...,4,3,4,1,1,3,4,0,11,11
1,1,0,0,17,0,0,0,1,1,at_home,...,5,3,3,1,1,3,2,9,11,11

In [ ]:
# Fix missing and invalid values in data.
# Check for missing values
missing_values = student_performance_df.isnull().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
student_id                 0
school_name                0
sex                        0
age                        0
address                    0
family_size                0
parent_status              0
mother_education           0
father_education           0
mother_job                 0
father_job                 0
reason_to_choose_school    0
guardian                   0
travel_time                0
study_time                 0
failures                   0
school_support             0
family_support             0
paid                       0
activities                 0
nursery                    0
higher                     0
internet                   0
romantic                   0
family_relationships       0
free_time                  0
go_out                     0
workday_alcohol            0
weekend_alcohol            0
health                     0
absences                   0
grade_period_1             0
grade_period_2             0
final_grade                0
dtype: int64

In [ ]:
# Drop duplicate 'student_id' columns if they exist (keeping the first one)
student_performance_df = student_performance_df.loc[:,~student_performance_df.columns.duplicated(keep='first')]

print("UNIQUE VALUES COUNT FOR EACH COLUMN:")
print("=" * 40)
for column in student_performance_df.columns:
    if column != 'student_id':
        unique_count = student_performance_df[column].nunique()
        print(f"{column}: {unique_count} unique values")

print("\n" + "=" * 40)
print("DETAILED VALUE COUNTS:")
print("=" * 40)

for column in student_performance_df.columns:
    if column != 'student_id': # Exclude 'student_id' from value counts as it's a unique identifier
        print(f"\n{column}:")
        print(student_performance_df[column].value_counts())
        print("-" * 30)

UNIQUE VALUES COUNT FOR EACH COLUMN:
========================================
school_name: 2 unique values
sex: 2 unique values
age: 8 unique values
address: 2 unique values
family_size: 2 unique values
parent_status: 2 unique values
mother_education: 5 unique values
father_education: 5 unique values
mother_job: 5 unique values
father_job: 5 unique values
reason_to_choose_school: 4 unique values
guardian: 3 unique values
travel_time: 4 unique values
study_time: 4 unique values
failures: 4 unique values
school_support: 2 unique values
family_support: 2 unique values
paid: 2 unique values
activities: 2 unique values
nursery: 2 unique values
higher: 2 unique values
internet: 2 unique values
romantic: 2 unique values
family_relationships: 5 unique values
free_time: 5 unique values
go_out: 5 unique values
workday_alcohol: 5 unique values
weekend_alcohol: 5 unique values
health: 5 unique values
absences: 24 unique values
grade_period_1: 17 unique values
grade_period_2: 16 unique values
final_grade: 17 unique values

========================================
DETAILED VALUE COUNTS:
========================================

school_name:
school_name
0    423
1    226
Name: count, dtype: int64
------------------------------

sex:
sex
0    383
1    266
Name: count, dtype: int64
------------------------------

age:
age
17    179
16    177
18    140
15    112
19     32
20      6
21      2
22      1
Name: count, dtype: int64
------------------------------

address:
address
0    452
1    197
Name: count, dtype: int64
------------------------------

family_size:
family_size
0    457
1    192
Name: count, dtype: int64
------------------------------

parent_status:
parent_status
0    569
1     80
Name: count, dtype: int64
------------------------------

mother_education:
mother_education
2    186
4    175
1    143
3    139
0      6
Name: count, dtype: int64
------------------------------

father_education:
father_education
2    209
1    174
3    131
4    128
0      7
Name: count, dtype: int64
------------------------------

mother_job:
mother_job
other       258
services    136
at_home     135
teacher      72
health       48
Name: count, dtype: int64
------------------------------

father_job:
father_job
other       367
services    181
at_home      42
teacher      36
health       23
Name: count, dtype: int64
------------------------------

reason_to_choose_school:
reason_to_choose_school
course        285
home          149
reputation    143
other          72
Name: count, dtype: int64
------------------------------

guardian:
guardian
mother    455
father    153
other      41
Name: count, dtype: int64
------------------------------

travel_time:
travel_time
1    366
2    213
3     54
4     16
Name: count, dtype: int64
------------------------------

study_time:
study_time
2    305
1    212
3     97
4     35
Name: count, dtype: int64
------------------------------

failures:
failures
0    549
1     70
2     16
3     14
Name: count, dtype: int64
------------------------------

school_support:
school_support
0    581
1     68
Name: count, dtype: int64
------------------------------

family_support:
family_support
1    398
0    251
Name: count, dtype: int64
------------------------------

paid:
paid
0    610
1     39
Name: count, dtype: int64
------------------------------

activities:
activities
0    334
1    315
Name: count, dtype: int64
------------------------------

nursery:
nursery
1    521
0    128
Name: count, dtype: int64
------------------------------

higher:
higher
1    580
0     69
Name: count, dtype: int64
------------------------------

internet:
internet
1    498
0    151
Name: count, dtype: int64
------------------------------

romantic:
romantic
0    410
1    239
Name: count, dtype: int64
------------------------------

family_relationships:
family_relationships
4    317
5    180
3    101
2     29
1     22
Name: count, dtype: int64
------------------------------

free_time:
free_time
3    251
4    178
2    107
5     68
1     45
Name: count, dtype: int64
------------------------------

go_out:
go_out
3    205
2    145
4    141
5    110
1     48
Name: count, dtype: int64
------------------------------

workday_alcohol:
workday_alcohol
1    451
2    121
3     43
5     17
4     17
Name: count, dtype: int64
------------------------------

weekend_alcohol:
weekend_alcohol
1    247
2    150
3    120
4     87
5     45
Name: count, dtype: int64
------------------------------

health:
health
5    249
3    124
4    108
1     90
2     78
Name: count, dtype: int64
------------------------------

absences:
absences
0     244
2     110
4      93
6      49
8      42
10     21
12     12
1      12
5      12
16     10
14      8
9       7
3       7
11      5
7       3
18      3
15      2
22      2
21      2
24      1
32      1
30      1
26      1
13      1
Name: count, dtype: int64
------------------------------

grade_period_1:
grade_period_1
10    95
11    91
12    82
13    72
14    71
9     65
8     42
15    35
7     33
16    22
17    16
6      9
18     7
5      5
4      2
0      1
19     1
Name: count, dtype: int64
------------------------------

grade_period_2:
grade_period_2
11    103
12     86
10     83
13     80
9      72
14     54
8      40
15     38
16     25
17     20
7      16
18     14
6       7
0       7
5       3
19      1
Name: count, dtype: int64
------------------------------

final_grade:
final_grade
11    104
10     97
13     82
12     72
14     63
15     49
16     36
8      35
9      35
17     29
18     15
0      15
7      10
6       3
19      2
1       1
5       1
Name: count, dtype: int64
------------------------------

Data is clean and ready for analysis.

In [ ]:
#4. Create new columns based on existing columns or calculations.
# Average grade across all periods

student_performance_df['average_grade'] = (student_performance_df['grade_period_1'] + student_performance_df['grade_period_2'] + student_performance_df['final_grade']) / 3

In [ ]:
student_performance_df['average_grade'].describe()

count    649.000000
mean      11.625064
std        2.833360
min        1.333333
25%       10.000000
50%       11.666667
75%       13.333333
max       18.666667
Name: average_grade, dtype: float64

In [ ]:
# Grade categories
def grade_category(grade):
    if grade >= 15:
        return 'Excellent'
    elif grade > 10 and grade < 15:
        return 'Good'
    elif grade >= 5 and grade <= 10:
        return 'Satisfactory'
    elif grade < 5:
        return 'Fail'

student_performance_df['final_grade_category'] = student_performance_df['final_grade'].apply(grade_category)

In [ ]:
student_performance_df['final_grade_category'].describe()

count      649
unique       4
top       Good
freq       321
Name: final_grade_category, dtype: object

In [ ]:
#5. Drop column(s) from your dataset.
# List of columns to drop (customize based on your analysis)
columns_to_drop = [
    'student_id',           # it's just an identifier with no predictive power
    'nursery',              # Often less relevant for academic performance
    'go_out',           # go_out with friends
    'romantic',             # May not be relevant for academic analysis
    'reason_to_choose_school' # not relevant for performance prediction
]
# Drop the columns
student_performance_df = student_performance_df.drop(columns=columns_to_drop)

print(f"Remaining columns: {len(student_performance_df.columns)}")
print(f"Dropped {len(columns_to_drop)} columns")

Remaining columns: 31
Dropped 5 columns

In [ ]:
# 6 Drop a row(s) from your dataset.
# Check for duplicates
duplicate_count = student_performance_df.duplicated().sum()
print(f"Found {duplicate_count} duplicate rows")

# Drop duplicates
if duplicate_count > 0:
    student_performance_df = student_performance_df.drop_duplicates()
    print(f"Dropped {duplicate_count} duplicate rows")
    print(f"New shape: {student_performance_df.shape}")

Found 0 duplicate rows

In [ ]:
# Drop rows where final_grade < 10 and store in temp dataframe
temp_failed_students = student_performance_df[student_performance_df['final_grade'] < 11].copy()
student_performance_df = student_performance_df[student_performance_df['final_grade'] >= 11]

print(f"Main dataset: {len(student_performance_df)} students (passed)")
print(f"Temp dataset: {len(temp_failed_students)} students (below average)")

Main dataset: 452 students (passed)
Temp dataset: 197 students (below average)

In [ ]:
# 7. Sort your data based on multiple variables.
# Sort data by multiple variables
student_performance_df = student_performance_df.sort_values(
    by=['final_grade_category', 'final_grade', 'absences'],
    ascending=[True, False, True]
)

print("Data sorted by: final_grade_category (asc), final_grade (desc), absences (asc)")
print(student_performance_df[['final_grade_category', 'final_grade', 'absences']].head(10))

Data sorted by: final_grade_category (asc), final_grade (desc), absences (asc)
    final_grade_category  final_grade  absences
338            Excellent           19         0
636            Excellent           19         4
181            Excellent           18         0
185            Excellent           18         0
332            Excellent           18         0
337            Excellent           18         0
349            Excellent           18         0
509            Excellent           18         0
549            Excellent           18         0
594            Excellent           18         0

In [ ]:
# 8. Filter your data based on some condition.
# final_grade_category = Good & age is greater than 15
student_performance_df[(student_performance_df['final_grade_category'] == 'Good') & (student_performance_df['age'] >15) ]

,school_name,sex,age,address,family_size,parent_status,mother_education,father_education,mother_job,father_job,...,free_time,workday_alcohol,weekend_alcohol,health,absences,grade_period_1,grade_period_2,final_grade,average_grade,final_grade_category
22,0,1,16,0,1,0,4,2,teacher,other,...,5,1,3,5,0,12,13,14,13.000000,Good
73,0,1,16,0,0,0,3,1,other,other,...,3,2,2,5,0,13,13,14,13.333333,Good
190,0,0,16,0,0,0,2,2,services,other,...,4,1,4,5,0,13,12,14,13.000000,Good
236,0,0,16,0,0,0,2,3,services,teacher,...,3,1,1,3,0,13,13,14,13.333333,Good
247,0,1,16,0,0,0,4,4,health,other,...,2,2,4,1,0,13,13,14,13.333333,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,0,0,19,0,0,0,1,1,other,other,...,5,4,3,5,12,10,10,11,10.333333,Good
44,0,0,16,0,1,0,2,2,other,at_home,...,3,2,2,5,14,10,11,11,10.666667,Good
79,0,0,16,0,0,0,3,4,at_home,other,...,4,1,2,3,14,12,11,11,11.333333,Good
118,0,1,17,1,0,0,1,3,other,other,...,2,1,4,5,14,12,11,11,11.333333,Good
405,0,0,19,0,1,1,2,3,at_home,other,...,2,3,4,5,16,10,11,11,10.666667,Good

In [ ]:
# 9. Convert all the string values to upper or lower cases in one column.
# Convert multiple string columns to uppercase
string_columns = ['mother_job', 'father_job', 'guardian']
for col in string_columns:
    student_performance_df[col] = student_performance_df[col].str.upper()

print("All string columns converted to uppercase")
student_performance_df.head(3)

All string columns converted to uppercase

,school_name,sex,age,address,family_size,parent_status,mother_education,father_education,mother_job,father_job,...,free_time,workday_alcohol,weekend_alcohol,health,absences,grade_period_1,grade_period_2,final_grade,average_grade,final_grade_category
338,0,0,17,1,1,0,3,1,SERVICES,OTHER,...,1,1,1,3,0,18,19,19,18.666667,Excellent
636,1,1,18,0,0,0,4,4,TEACHER,TEACHER,...,2,1,4,2,4,17,18,19,18.000000,Excellent
181,0,0,16,0,0,0,4,2,HEALTH,SERVICES,...,2,1,1,3,0,17,17,18,17.333333,Excellent

In [ ]:
#10. Check whether numeric values are present in a given column of your dataframe.
# Check if numeric values are present in mother_job column
has_numeric = student_performance_df['mother_job'].str.contains(r'\d', na=False).any()

print(f"Numeric values present in mother_job: {has_numeric}")

Numeric values present in mother_job: False

In [ ]:
# Check any column for numeric values
def check_numeric_in_column(df, column_name):
    has_numeric = df[column_name].astype(str).str.contains(r'\d', na=False).any()
    print(f"Numeric values in {column_name}: {has_numeric}")
    return has_numeric

check_numeric_in_column(student_performance_df, 'age')

Numeric values in age: True

np.True_

In [ ]:
#11. Group your dataset by one column, and get the mean, min, and max values by group. Groupby()
student_performance_df.groupby('final_grade_category').agg({
    'final_grade': ['mean', 'min', 'max'],
    'absences': ['mean', 'min', 'max']
})

                     final_grade          absences
                            mean min max      mean min max
final_grade_category
Excellent              16.122137  15  19  2.755725   0  30
Good                   12.323988  11  14  3.398754   0  32

In [ ]:
#11. Group your dataset by one column, and get the mean, min, and max values by group. Groupby()
student_performance_df.groupby('sex').agg({
    'final_grade': ['mean', 'min', 'max'],
    'absences': ['mean', 'min', 'max']
})

    final_grade         absences
           mean min max     mean min max
sex
0     13.594306  11  19  3.16726   0  32
1     13.146199  11  19  3.28655   0  18

In [ ]:
# Group by final_grade_category and get statistics
grade_stats = student_performance_df.groupby('final_grade_category').agg({
    'final_grade': ['mean', 'min', 'max', 'count'],
    'age': ['mean', 'min', 'max']
}).round(2)

print(grade_stats)

                     final_grade                  age
                            mean min max count   mean min max
final_grade_category
Excellent                  16.12  15  19   131  16.86  15  20
Good                       12.32  11  14   321  16.51  15  21

In [ ]:
 # .apply()
 # Apply function and reset index for cleaner output
result = student_performance_df.groupby('school_name').apply(
    lambda x: x['final_grade'].describe()
).reset_index()

print(result)

final_grade  school_name  count       mean       std   min   25%   50%   75%  \
0                      0  338.0  13.458580  1.996971  11.0  12.0  13.0  15.0
1                      1  114.0  13.324561  2.216174  11.0  11.0  13.0  15.0

final_grade   max
0            19.0
1            19.0

/tmp/ipython-input-559291608.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = student_performance_df.groupby('school_name').apply(

In [ ]:
#12. # Group by two columns and aggregate
result = student_performance_df.groupby(['school_name', 'family_support']).agg({
    'final_grade': ['mean', 'min', 'max'],
    'absences': ['mean', 'min', 'max']
})

print(result)

                           final_grade          absences
                                  mean min max      mean min max
school_name family_support
0           0                13.365217  11  18  3.573913   0  18
            1                13.506726  11  19  3.609865   0  32
1           0                13.629630  11  19  2.129630   0  11
            1                13.050000  11  18  2.016667   0  11

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?

Key Observations:

1. Data Quality & Structure:

*   Dataset is exceptionally clean with no missing values or duplicates
*   Successfully converted all categorical variables to proper numerical encoding
*   Clear column naming after comprehensive renaming

2. Student Performance Distribution:

*   452 students passed (final_grade ≥ 11), 197 below average (final_grade < 11)
*   Grade categories: 131 "Excellent" (15-19), 321 "Good" (11-14) students
*   Final grades range from 11-19 in the filtered dataset

3. Demographic Insights:

*   Age range: 15-21 years (majority 16-18)
*   Gender distribution: 383 Female (0), 266 Male (1)
*   School distribution: 423 in GP (0), 226 in MS (1)

4. Academic Patterns:

*   Excellent students have slightly higher average age (16.86 vs 16.51)
*   Family support shows mixed impact on grades across schools
*   Absences are relatively low across performance categories

Further Exploration Opportunities:

1. Predictive Modeling:

*   Build models to predict final_grade_category
*   dentify key factors driving academic success

2. School-Specific Analysis:

*   Deep dive into why School 1 shows inverse family support effect
*   Compare teaching methods, resources between schools

3. Temporal Analysis:

*   Track grade progression from period_1 → period_2 → final_grade
*   Identify improvement/decline patterns

4. Family & Environmental Impact:
*   Detailed analysis of parental education/jobs influence
*   Urban vs rural performance differences